# fastapi
# sqlalchemy
# uvicorn
# pydantic
# bcrypt
# passlib
# python-jose
# python-multipart

fastapi
uvicorn[standard]
gunicorn
sqlalchemy
pydantic
bcrypt==4.0.1
passlib[bcrypt]
python-jose[cryptography]
python-multipart
