<app-layout pageTitle="Products">

    <div class="product-page">

        <!-- Header -->

        <div class="page-header">

            <div>

                <h1>📦 Products</h1>

                <p>{{products.length}} Products Available</p>

            </div>

            <button class="add-btn" (click)="goToAddProduct()">

                + Add Product

            </button>

        </div>

        <!-- Search -->

        <div class="search-box">

            <input type="text" placeholder="Search Product...">

        </div>

        <!-- Desktop Table -->

        <div class="table-container desktop-view">

            <table>

                <thead>

                    <tr>

                        <th>ID</th>

                        <th>Name</th>

                        <th>Price</th>

                        <th>Description</th>

                        <th>Action</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let product of products">

                        <td>{{product.id}}</td>

                        <td>{{product.name}}</td>

                        <td>

                            <span class="price">

                                ₹{{product.price}}

                            </span>

                        </td>

                        <td>

                            {{product.description}}

                        </td>

                        <td>

                            <button class="edit-btn" (click)="toEditProduct(product.id)">

                                Edit

                            </button>

                            <button class="delete-btn" (click)="toDeleteProduct(product.id)">

                                Delete

                            </button>

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

        <!-- Mobile Cards -->

        <div class="mobile-view">

            <div class="product-card" *ngFor="let product of products">

                <div class="card-top">

                    <h2>

                        {{product.name}}

                    </h2>

                    <span class="price">

                        ₹{{product.price}}

                    </span>

                </div>

                <p>

                    {{product.description}}

                </p>

                <div class="card-footer">

                    <button class="edit-btn" (click)="toEditProduct(product.id)">

                        Edit

                    </button>

                    <button class="delete-btn" (click)="toDeleteProduct(product.id)">

                        Delete

                    </button>

                </div>

            </div>

        </div>

    </div>

</app-layout>