<div class="layout-container">

    <!-- Overlay -->

    <div class="overlay" *ngIf="menuOpen" (click)="toggleMenu()">
    </div>

    <!-- Sidebar -->

    <aside class="sidebar" [class.open]="menuOpen">
        <button class="menu-btn" (click)="closeMenu()">

            X

        </button>
        <div class="logo">

            <span>🚀</span>

            Smart Seller

        </div>

        <ul>

            <li (click)="goToDashboard();closeMenu()">

                📊 Dashboard

            </li>

            <li (click)="goToProducts();closeMenu()">

                📦 Products

            </li>

            <li (click)="goToSellers();closeMenu()">

                👥 Sellers

            </li>

            <li>

                📈 Reports

            </li>

            <li>

                ⚙ Settings

            </li>

        </ul>

    </aside>

    <!-- Main -->

    <div class="main-content">

        <nav class="navbar">

            <div class="left-nav">

                <button class="menu-btn" (click)="toggleMenu()">

                    ☰

                </button>


                <h2>

                    {{pageTitle}}

                </h2>

            </div>

            <div class="nav-right">

                <div class="admin">

                    👤 Admin

                </div>

                <button class="logout-btn" (click)="logout()">

                    Logout

                </button>

            </div>

        </nav>

        <div class="page-content">

            <ng-content></ng-content>

        </div>

    </div>

</div>